<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1>Total Filtration Solutions</h1>
<form th:action="@{/search/results}" th:object="${searchForm}">
    <ul>
        <li th:each="field : *{fields}">
            <input type="radio" th:field="*{searchField}" th:value="${field}" th:checked="${field == searchField}"/>
            <label th:text="${field.name}"></label>
        </li>
    </ul>
    <input type="text" th:field="*{keyword}"/>
    <input type="submit" value="Search"/>
</form>

</body>
</html>